---
layout: default
---

<!-- Banner -->
<div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="5"
  data-background="{{ page.hero_image | default: '/assets/img/banner-blog.jpg' }}">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center caption mt-90">
        <div class="section-subtitle">Planning Resources</div>
        <h1>{{ page.title | default: 'The Blog' }}</h1>
      </div>
    </div>
  </div>
</div>

<section class="blog-listing section-padding">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}
      <div class="col-md-4 mb-30 animate-box" data-animate-effect="fadeInUp">
        {% include blog-card.html post=post %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
