---
layout: default
---
<div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="5"
  data-background="{{ page.hero_image | default: '/assets/img/Unknown-1.avif' }}">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center caption mt-90">
        {% if page.subtitle %}<div class="section-subtitle">{{ page.subtitle }}</div>{% endif %}
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>

<section class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-12">
        {{ content }}
      </div>
    </div>
  </div>
</section>
